*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

.about{
    padding:60px 0;
    background:#f4f6fb;
}

.about-container{
    width:90%;
    margin:auto;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.about-text{
    width:50%;
}

.about-text h5{
    color:#1f3c88;
    letter-spacing:2px;
    margin-bottom:10px;
}

.about-text h2{
    color:#0a1d56;
    margin-bottom:15px;
}

.about-text p{
    color:#555;
    line-height:1.6;
    margin-bottom:15px;
}

.about-text ul{
    list-style:none;
    margin-bottom:20px;
}

.about-text ul li{
    margin-bottom:8px;
    color:#333;
}

.about-text a{
    display:inline-block;
    padding:10px 20px;
    background:#1f2b6c;
    color:white;
    text-decoration:none;
    border-radius:5px;
}

.about-image{
    width:45%;
}

.about-image img{
    width:80%;
  
}
