*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container2{
    display:flex;

      background-image: url('/Saara/Images/male-doctor-pointing-finger-pill-bottle-white-coat-gloves-looking-careful.jpg');
 background-blend-mode: overlay; 
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5% 10%; 
  justify-content: center;
}

.left{
    width:50%;
    padding:40px;
    margin-top: 11%;
}

.left h2{
    color:#1f3c88;
    margin-bottom:15px;
}

.right{
    width:28%;
    background:#1f2b6c;
    padding:30px;
    margin-top: 2%;
    border-radius: 10px;
}

form{
    display:flex;
    flex-direction:column;
}

input, select, textarea{
    margin-bottom:12px;
    padding:10px;
    border:none;
    outline:none;
}

textarea{
    height:80px;
}

button{
    padding:12px;
    background:#cfe0ff;
    border:none;
    cursor:pointer;
    font-weight:bold;
}

.contact{
    padding: 40px;
    text-align: center;
    background: #fff;
    /* padding-top: 8%;
    padding-bottom: 5%; */
    
}

.contact h5{
    color: #1f3c88;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.contact h2{
    margin-bottom: 30px;
}

.contact h2 span{
    color: #1f3c88;
}

.contact-box{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.card{
    width: 220px;
    padding: 25px;
    background: #eaf0ff;
    border-radius: 6px;
    text-align: center;
}

.card h4{
    margin-bottom: 15px;
    color: #1f3c88;
}

.card p{
    font-size: 14px;
    margin-bottom: 6px;
}

.card.active{
    background: #1f3c88;
    color: #fff;
}

.card.active h4{
    color: #fff;
}

.card a{
    color: inherit;
    text-decoration: none;
}

.card a:hover{
    text-decoration: underline;
}

@media (max-width: 991px) {
    .contact-box{
        flex-direction: column;
        align-items: center;
        
    }
    .card{
        width: 90%;
    }
}

