body{
    margin:0;
    font-family: Arial, sans-serif;
    background:#dff3f0;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    background:white;
    width:200px;
    padding:20px 60px 100px 60px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,0.15);
    position: relative;
}

h2{
    text-align:center;
    color:#159EEC;
}

.sub{
    text-align:center;
    font-size:14px;
    color:#666;
    margin-bottom:20px;
}

label{
    font-size:14px;
    margin-top:10px;
    display:block;
}

input{
    width:100%;
    padding:10px;
    margin-top:5px;
    border:1px solid #ccc;
    border-radius:8px;
    outline:none;
}

input:focus{
    border-color:#159EEC;
}

button{
    width:110%;
    margin-top:20px;
    padding:12px 16px;
    background:#159EEC;
    color:white;
    border:none;
    border-radius:10px;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#1289cf;
}

#message{
    margin-top:15px;
    text-align:center;
    font-size:14px;
}


    .back{
        
     background:#159EEC;
    color:white;
    border:none;
    padding:8px 25px;
    border-radius:10px;
    cursor:pointer;
   
    text-decoration: none;
    top: 74%;
    position: absolute;
   
        }

@media (max-width:991px) {
    .container{
        width: 50%;
        height: 70%;
        margin-top: 90%;
    }
    button{
        width: 105%;
    }
}